.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item>.nav-link.active {
    background: #daecff;
}

.sidenav {
    z-index: 1000;
}

.text-size-xs {
    font-size: .8rem;
}

@media (min-width: 576px) {
    .text-size-sm {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .text-size-md {
        font-size: 1.2rem;
    }
}
